/* ------------------------------------------------------------------------
-  Main background colors
-------------------------------------------------------------------------*/
.color-1 {background-color: #ea316e;} /* Title background */
.color-2 {background-color: #25aae1;} /* Description background */
.color-3 {background-color: #25aae1;} /* Main menu background */
.color-5 {background-color: #b1e3fa;} /* other blocks (right side) */

/* ------------------------------------------------------------------------
-  The basics
-------------------------------------------------------------------------*/
html, body
{
	background-color: #e0f4fc;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin: 0;
	height: 100%;
	box-sizing: border-box;
}

a { text-decoration: none; transition: color 0.25s ease-in, background 0.25s ease-in; }

#wrapper
{
	margin: 0 0 -21px;
	padding: 1px;
	min-height: 100%;
	border-bottom: 21px solid transparent;
	box-sizing: border-box;
}

#footer
{
	background-color: #b1e3fa;
	padding: 2px 0 1px;
	height: 17px;
	border-top: 1px dashed #77A;
	color: #444;
	font-size: 9pt;
	text-align: center;
	overflow-y: auto;
}
#footer a { color: #77A; }
#footer a:hover, #footera:active { color: #ea316e; }

.module
{
	margin: 0.5em;
	overflow: hidden;
	position: relative;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 3px 3px 0 0 rgba(0,0,0,0.3);
}

/* ------------------------------------------------------------------------
-  The header
-------------------------------------------------------------------------*/
.title h1
{
	text-align: center;
	margin: 0.8em;
	color: #f5f5f5;
}
.title a { color: #f5f5f5; }
.title a:hover, .main-header a:focus { color: #c1c1ff; text-decoration: underline; }

.links a
{
	display: block;
	color: #ddf;
	text-align: center;
	line-height: 1.8em;
	margin-top: 0;
	margin-bottom: 0;
}
.links a:hover, .links a:active { color: #fff !important; text-decoration: underline; }

/* ------------------------------------------------------------------------
-  The content
-------------------------------------------------------------------------*/
.main-content
{
	padding: 0 1.5em 1.5em;
	margin-bottom: 20px;
}
.main-content a { color: #526ffc; border-bottom: .1px solid #526ffc; display: inline; padding: 0 0 .02em 0; }
.main-content a:hover, .main-content p a:active { color: #f2f2f2 !important; background: #ea316e; border: 0; }
.main-content li { margin-left: 25px; }
.main-content hr { border: 0; background: #444; height: 1px; margin: 10px 0px; }
.gameview { background: #000; vertical-align: middle; outline: 2px ridge red; margin: 2px; }
.gameview:focus { outline: 2px ridge lime; }
.gamebutton { margin: 5px; width: 80px; vertical-align: middle; }

/* ------------------------------------------------------------------------
-  Make things responsive
-------------------------------------------------------------------------*/
@media (max-width: 850px)
{
	body { font-size: large; }
	.title h1 { margin: 0.4em; font-size: 1.5em; }
}

/* ------------------------------------------------------------------------
-  Tool form
-------------------------------------------------------------------------*/
#tool
{
	background-color: #82dbff;
	width: 800px;
	margin: 0 auto;
	padding: 0 8px 8px;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 3px 3px 0 0 rgba(0,0,0,0.3);
	font-size:80%;
}
#tool h2 { font-size: 14pt; font-family: sans-serif; text-align: center; background: #3a748c; color: #FFF; margin: 10px 0; padding: 2px 0; }
#tool div { clear: both; margin: 3px 0; }
#tool label { float: left; width: 180px; margin-right: 10px; }
#tool label.ta { float: none; width: auto; display: block; margin-right: 0; }
#tool textarea { width: 100%; box-sizing: border-box; }
#tool sub { display: block; color: #666; font-size: 80%; }
#tool sub.info { padding-left: 190px; margin-bottom: 5px; }
#tool sub.wide { text-align: center; }
#tool .submit { margin: 0 0 10px 0; padding: 3px 10px; font-size: 150%; }
