<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }} &middot; Home{% endif %}</title>
	<meta name="robots" content="index,follow">
	<meta name="revisit-after" content="1 days">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="cleartype" content="on">
	<link rel="stylesheet" href="/LoveWebBuilder/main.css" type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
</head>
<body>
{{ content }}
<script>(function(i,r){i['GoogleAnalyticsObject']=r;i[r]=function(){i[r].q.push(arguments)},i[r].l=1*new Date(),i[r].q=[];i[r]('create','UA-60006780-3','auto');i[r]('send','pageview');})(window,'ga');</script>
<script src="//www.google-analytics.com/analytics.js" async></script>
</body>
</html>
