---
layout: base
---
<div id="wrapper">
	<div class="module title color-1"><h1><a href="./">LÖVE - Web Builder</a></h1></div>
	<table class="links" border="0" cellspacing="0" cellpadding="0" width="100%"><tr>
		<td><a class="module links color-3" href="./package">Build Package</a></td>
		<td><a class="module links color-3" href="./run-project">Run Project</a></td>
		<td><a class="module links color-3" href="./run-code">Run Code</a></td>
	</tr></table>
	<div class="module main-content color-5">
{{ content }}
	</div>
	<div id="push"></div>
</div>
<div id="footer">&copy; Bernhard Schelling &middot; Based on <a href="https://github.com/drvy/minimal-block" target="_blank">minimal-block</a> theme</div>
