---
layout: base
---
<div id="wrapper">
	<div class="module title color-1"><h1><a href="./">LÖVE Web Builder</a></h1></div>
	<table class="links" border="0" cellspacing="0" cellpadding="0" width="100%"><tr>
		<td><a class="module links color-3" href="./package">Build Package</a></td>
		<td><a class="module links color-3" href="./run-project">Run Project</a></td>
		<td><a class="module links color-3" href="./run-code">Run Code</a></td>
	</tr></table>
	<div class="module main-content color-5">
{{ content }}
	</div>
</div>
<div id="footer">Tool made by <a href="https://github.com/schellingb/LoveWebBuilder">Bernhard Schelling</a> &middot; Powered by the <a href="https://love2d.org/" target="_blank">LÖVE Framework</a> (<a href="https://bitbucket.org/rude/love/raw/default/license.txt" target="_blank">License</a>)</div>
